In [1]:
# Import the required Libraries.

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the ecommerce dataset (customers.csv, products.csv, transactions.csv)


customers_df = pd.read_csv('Customers.csv')
products_df = pd.read_csv('Products.csv')
transactions_df = pd.read_csv('Transactions.csv')

In [3]:
# first 5 records all three csv files.

customers_df.head()

  CustomerID        CustomerName         Region  SignupDate
0      C0001    Lawrence Carroll  South America  2022-07-10
1      C0002      Elizabeth Lutz           Asia  2022-02-13
2      C0003      Michael Rivera  South America  2024-03-07
3      C0004  Kathleen Rodriguez  South America  2022-10-09
4      C0005         Laura Weber           Asia  2022-08-15

In [4]:
products_df.head()

  ProductID              ProductName     Category   Price
0      P001     ActiveWear Biography        Books  169.30
1      P002    ActiveWear Smartwatch  Electronics  346.30
2      P003  ComfortLiving Biography        Books   44.12
3      P004            BookWorld Rug   Home Decor   95.69
4      P005          TechPro T-Shirt     Clothing  429.31

In [5]:
transactions_df.head()

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68

In [6]:
# Merge customers and transactions

customer_transactions = pd.merge(customers_df, transactions_df, on='CustomerID')

In [7]:
customer_transactions.head()

,CustomerID,CustomerName,Region,SignupDate,TransactionID,ProductID,TransactionDate,Quantity,TotalValue,Price
0,C0001,Lawrence Carroll,South America,2022-07-10,T00015,P054,2024-01-19 03:12:55,2,114.60,57.30
1,C0001,Lawrence Carroll,South America,2022-07-10,T00932,P022,2024-09-17 09:01:18,3,412.62,137.54
2,C0001,Lawrence Carroll,South America,2022-07-10,T00085,P096,2024-04-08 00:01:00,2,614.94,307.47
3,C0001,Lawrence Carroll,South America,2022-07-10,T00445,P083,2024-05-07 03:11:44,2,911.44,455.72
4,C0001,Lawrence Carroll,South America,2022-07-10,T00436,P029,2024-11-02 17:04:16,3,1300.92,433.64

In [8]:
# Feature Engineering

## Creating features that represent behaviour of customers.

customer_transactions['TotalSpend'] = customer_transactions.groupby('CustomerID')['TotalValue'].transform('sum')
customer_transactions['AvgTransactionValue'] =  customer_transactions.groupby('CustomerID')['TotalValue'].transform('mean')
customer_transactions['NumTransactions'] = customer_transactions.groupby('CustomerID')['TransactionID'].transform('count')

In [9]:
# Select relevant features
features = customer_transactions[['CustomerID', 'Region', 'TotalSpend', 'AvgTransactionValue', 'NumTransactions']]
features = features.drop_duplicates()

In [10]:
features.head()

   CustomerID         Region  TotalSpend  AvgTransactionValue  NumTransactions
0       C0001  South America     3354.52              670.904                5
5       C0002           Asia     1862.74              465.685                4
9       C0003  South America     2725.38              681.345                4
13      C0004  South America     5354.88              669.360                8
21      C0005           Asia     2034.24              678.080                3

In [11]:
# installing the required library.
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\gopal\appdata\roaming\python\python313\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\gopal\appdata\roaming\python\python313\site-packages (from scikit-learn) (2.2.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\gopal\appdata\roaming\python\python313\site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\gopal\appdata\roaming\python\python313\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\gopal\appdata\roaming\python\python313\site-packages (from scikit-learn) (3.5.0)

In [12]:
# Data Preprocessing

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# Define the column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['TotalSpend', 'AvgTransactionValue', 'NumTransactions']),
        ('cat', OneHotEncoder(), ['Region'])
    ])

# Fit and transform the data
features_processed = preprocessor.fit_transform(features.drop(columns='CustomerID'))

# Display the shape of the processed features
print(features_processed.shape)

(199, 7)

In [13]:
# Similarity measurement

from sklearn.metrics.pairwise import cosine_similarity

# Compute cosine similarity
similarity_matrix = cosine_similarity(features_processed)

# Display the shape of the similarity matrix
print(similarity_matrix.shape)

(199, 199)

In [14]:
# Model Development

# Getting top 3 lookalike 
def get_top_lookalikes(customer_id, similarity_matrix, features, top_n=3):
    
    idx = features[features['CustomerID'] == customer_id].index[0]
    similar_indices = similarity_matrix[idx].argsort()[-(top_n+2):-1]
    similar_customers = features.iloc[similar_indices]
    similarity_scores = similarity_matrix[idx][similar_indices]
    return similar_customers['CustomerID'].tolist(), similarity_scores.tolist()

# Generate lookalike recommendations for the first 20 customers
lookalike_results = {}
for customer_id in customers_df['CustomerID'][:20]:
    lookalikes, scores = get_top_lookalikes(customer_id, similarity_matrix, features)
    lookalike_results[customer_id] = list(zip(lookalikes, scores))

# Display the lookalike results
print(lookalike_results)

{'C0001': [('C0191', 0.9456659972710266), ('C0107', 0.9641690971679809), ('C0152', 0.9995103764905028), ('C0137', 0.9997616475513846)], 'C0002': [('C0187', 0.9330226466430889), ('C0171', 0.9387564178572098), ('C0158', 0.9711446209691191), ('C0168', 0.978264001321209)], 'C0003': [('C0111', 0.961936676891598), ('C0121', 0.9758346484079298), ('C0009', 0.9807961382416003), ('C0199', 0.9923026397421746)], 'C0004': [('C0062', 0.9552508669407361), ('C0009', 0.9615398807230746), ('C0060', 0.9756975141606177), ('C0198', 0.9889759898914686)], 'C0005': [('C0028', 0.8904704810597641), ('C0143', 0.9374958194515685), ('C0045', 0.938694631424901), ('C0136', 0.9739289643466053)], 'C0006': [('C0083', 0.9806376167577927), ('C0032', 0.9813844059285817), ('C0031', 0.9823592789671766), ('C0077', 0.9843121639383412)], 'C0007': [('C0189', 0.9286693503994602), ('C0030', 0.940253111053496), ('C0157', 0.956079123844235), ('C0094', 0.9788713351248212)], 'C0008': [('C0151', 0.9683568355953214), ('C0025', 0.9813844059285817), ('C0077', 0.9986821125626967), ('C0083', 0.9999627172254535)], 'C0009': [('C0131', 0.9047610985423327), ('C0125', 0.9423936815040013), ('C0020', 0.9474090450742292), ('C0176', 0.9976354817260416)], 'C0010': [('C0173', 0.9387239650961958), ('C0054', 0.9786251567420864), ('C0028', 0.9873442940218148), ('C0143', 0.9999805330058151)], 'C0011': [('C0139', 0.9120930447666893), ('C0116', 0.9330270559147648), ('C0098', 0.9731812514229466), ('C0047', 0.9843965391674475)], 'C0012': [('C0141', 0.9280960351644185), ('C0045', 0.9786251567420864), ('C0028', 0.9795091039804388), ('C0143', 0.9796007709652934)], 'C0013': [('C0063', 0.9785787839550272), ('C0197', 0.9808163962142756), ('C0167', 0.9874714380838309), ('C0073', 0.9972220022281042)], 'C0014': [('C0156', 0.9704717328175417), ('C0046', 0.9751909531799455), ('C0122', 0.9817857577942252), ('C0065', 0.9839856803696534)], 'C0015': [('C0127', 0.9122379501145379), ('C0103', 0.9660861622260956), ('C0164', 0.9851763508425119), ('C0086', 0.9960453416646343)], 'C0016': [('C0077', 0.9684806323680448), ('C0151', 0.9685070752367776), ('C0192', 0.9736106811346213), ('C0031', 0.9750372824606354)], 'C0017': [('C0192', 0.9396934721177913), ('C0174', 0.9450728159433235), ('C0031', 0.9457046431140259), ('C0025', 0.9546450619342682)], 'C0018': [('C0175', 0.9215214670938666), ('C0090', 0.9503748822889273), ('C0093', 0.9648776623311822), ('C0162', 0.9677084477970032)], 'C0019': [('C0196', 0.849791434493244), ('C0066', 0.9645577561388607), ('C0074', 0.9766232555163455), ('C0044', 0.9835580791285127)], 'C0020': [('C0071', 0.9103676755056813), ('C0112', 0.9842476410766486), ('C0150', 0.9909760038612168), ('C0130', 0.9930948704564155)]}

In [15]:
# Flatten the lookalike_results dictionary for DataFrame creation

flattened_results = []
for customer_id, lookalikes in lookalike_results.items():
    for lookalike, score in lookalikes:
        flattened_results.append([customer_id, lookalike, score])

In [16]:
# Create a DataFrame from the flattened results
lookalike_df = pd.DataFrame(flattened_results, columns=['CustomerID', 'LookalikeID', 'SimilarityScore'])

In [17]:
# Save to CSV file 
lookalike_df.to_csv('Gopal_Kate_Lookalike.csv', index=False)

In [18]:
lookalike_df.head()

  CustomerID LookalikeID  SimilarityScore
0      C0001       C0191         0.945666
1      C0001       C0107         0.964169
2      C0001       C0152         0.999510
3      C0001       C0137         0.999762
4      C0002       C0187         0.933023